@font-face {
    font-family: 'br_firmaregular';
    src: url('br_firma_regular-webfont.woff2') format('woff2'),
         url('br_firma_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
} 
  

/* Fonts */

h1{
    font-family: 'br_firmaregular';
    font-weight: bold;
    color: #ffffff;
    font-size: 50px; /* 3rem = 3 times the root em size */
    line-height:1.5;

    padding: 0  0 10px 0;
}

h5{
    color: #4d2808;
    font-family: 'br_firmaregular';
    font-size: 36px;
    font-weight: bold;
    padding: 0  0 10px 0;
}
h2{
    color: #4d2808;
    font-family: 'br_firmaregular';
    font-size: 28px;
    font-weight: bold;
    padding: 0  0 10px 0;
}

h3{
    color: #4d2808;
    font-family: 'br_firmaregular';
    font-weight: bold;
    padding: 0  0 10px 0;
    font-size: 24px;
}

h4{
    color: #4d2808;
    font-family: 'br_firmaregular';
    padding: 0  0 10px 0;
    font-size: 22px;
}

p{
    font-family: 'br_firmaregular';
    font-size: 18px;
    color: #5e3613;;
}

/*  general site styles*/

.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.extra-space{
    padding: 0 0 100px 0;
}

.larger-font{
    font-size: 50px;
    color:#4d2808;
    text-align: center;
}
.large-font{
    font-size: 40px;
    color:#4d2808;
    text-align: center;
}
.large-font-left{
    font-size: 40px;
    color:#4d2808;
    text-align: left;
}

.moveUp{
    position: relative; top: -400px;
}
.engraved{
    background-color: #5e3613;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: #e2dcc8b1 4px 6px 3px;
}



/* Title Section */ 
#title{
    text-align: center;
    padding: 4% 15% 7% 15%;
    background-color: #e2dcc8b1;

}

.title-text{
    text-align: center;
    
}
.title-text-link:hover{
    text-decoration: none;
}


/* controls navbar padding/spreading out */
.container-fluid{
    padding: 3% 7%;
}


.nav-brand:hover{
    text-decoration: none;
}

.hero{
    width: 100%;
    height: 90%;
}

.container {
    position: relative;
    text-align: center;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  


/* Navigation Bar */
#navigation{
    text-align: center;
    background-color: #e2dcc8b1; 
    padding: 3% 7% 0% 7%;
}
.navbar .navbar-nav .nav-link {
    color: #4d2808;
    font-size: 1.5rem;
    font-family: 'br_firmaregular';

}

.nav-item{
    padding: 0 10px 0 100px;
    text-align: center;
}
.nav-link:hover{
    background-color:#e2dcc8b1;
    color: #4d2808;
    border-radius: 5px;
}

.navbar-toggler{
    background-color:#4d2808;
    color: #e2dcc8b1;
}
.toggle{
    color: #4d2808;
    font-size: 40px;
}
.menu{
    position: relative; top: 20px;
    position: relative; left: 20px;
}



.icon-custom{
    color:#ffffff;
}
.icon-custom:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}


/* Download Buttons */
.download-button{
    margin: 5% 3% 5%;
}

.color-add{
    background-color: #ffffff;
}

/* Floating contact/social Icons */
.icons{
    top: 25%;
    right: 0px;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}

.icons ul{
    padding:initial;
}

.icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-top: 8px;
    margin-top:6px;
    border-radius: 2.5px;
    color:#e2dcc8;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-color: #4d2808;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 

}

.icons ul li:hover{
    color:#e2dcc8;
   
    box-shadow: 0 5px 10px #5e3613;
}

/* Projects Section */
 #projects{
    /* padding: 100px; to take up more of screen*/
    padding: 7% 15%;
    text-align: justify;
    background-color: #e2dcc8b1; 
 }
 .projects-column{
    padding: 3% 2%;
 }

.ada-img{
    border-radius: 50%;
    width: 50%;
    height: 100%;
}


.btn{
    border-radius:5px;
    background-color: #4d2808;
    color: #e2dcc8;
    padding: .5em 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.btn:hover {
  background-color: #4d2808;
  color: #e2dcc8;
  box-shadow: 0 5px 10px #5e3613;
}


#Ada{
    background-color: #e2dcc8;
    padding: 7% 15%;
    text-align: justify;
    cursor: default;
}


#title-stories-page{
    text-align: center;
    background-color: #e2dcc8b1; 
}

/* Story Cards Section*/

#story-title{
    padding: 3% 15% 3% 15%;
    text-align: center;
    background-color:#e2dcc8b1;
}
#story-cards{
    padding: 3% 15% 3% 15%;
    text-align: center;
    background-color:#e2dcc8b1;

}
  

.card{
    padding: 1.5em .5em .5em;
    border-radius: 5px;
    background-color: #ffffff; /*f5f3ef*/
    /*box-shadow: 0 5px 10px #5e3613;*/
    border: 1px solid rgba(0,0,0,.125);
    
}

.card-header{
    background-color: #5e3613 ;
    border-bottom: 0px solid rgba(0,0,0,.125);
    color: white;
}


.card-title{
    color:#4d2808;
    
}
.card-img-top{
    border-radius: 5px;
}

.scroll {
    max-height: 485px;
    overflow-y: auto;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
  }


.card-text{
    text-align: left;
    padding: 0px 20px;
}

.active {
    background-color: white;
  }

  .nav-pills .nav-link.active{
    background-color: #ffffff;
    color:#5e3613;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    
}
  
a {
    color: white;
    text-decoration: none;
    background-color: transparent;

}

/* Resources Section*/
#resources{
    padding: 3% 15% 3% 15%;
    background-color: #e2dcc8b1;
    text-align: left;
}

/* Footer Section*/
#footer{
    padding: 0% 15% 1% 15%;
    text-align: left;
    background-color: #e2dcc8;
}
.vase-logo{
    width: 20px;
    padding: 0 0 5px 0;
}
.social-icons{
    margin: 20px 5px;
}
.link-secondary{
    color:#4d2808;
    font-size: 18px;
}
.link-secondary2{
    font-family: 'br_firmaregular';
    color:#4d2808;
    font-size: 18px;
}
.extra-space{
    padding: 0 10px 0 10px;
}
.footer-page-links{
    font-family: 'br_firmaregular';
    color:#4d2808;
    padding:8px 8px 8px 8px;
    font-size: 18px;
}
.p-footer{
    padding:8px 8px 8px 0px;
    color: #4d2808;
}
.footer-page-links:hover{
    background-color:#e2dcc8b1;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}
.link-secondary:hover{
    color: #b89677;
    text-decoration: none;
}
.link-secondary2:hover{
    color:#4d2808;
    text-decoration: none;
}



 /*Media Query Section */
 @media (max-width: 1000px){  
    .hero{
        width: 100%;
        height: 100%;
    }

}



/* changes layout if screen is smaller than 600px */
@media (max-width: 600px){  
    .card{
        text-align: center;
    }
    .larger-font{
        text-align: center;
    }
    #title{
        padding: 0% 12% 15% 12%;
    }
    #navigation{
        padding: 3% 0% 0% 0%;
    }
    h1{
        font-size: 40px;
    }
    .larger-font{
        font-size: 36px;
    }

}




