


.color-change1{
    background-color: #b89677;
}
.title-text{
    text-align: center;
    
}
.title-text-link:hover{
    text-decoration: none;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.extra-space{
    padding: 0 0 100px 0;
}

@font-face {
    font-family: 'br_firmaregular';
    src: url('br_firma_regular-webfont.woff2') format('woff2'),
         url('br_firma_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*  general site styles*/


#title{
    text-align: center;
    padding: 4% 15% 7% 15%;
    background-color: #e2dcc8b1;

}
.larger-font{
    font-size: 50px;
    color:#4d2808;
    text-align: center;
}
.large-font{
    font-size: 40px;
    color:#4d2808;
    text-align: center;
}
.large-font-left{
    font-size: 40px;
    color:#4d2808;
    text-align: left;
}

.container {
    position: relative;
    text-align: center;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  


#title-stories-page{
    text-align: center;
    background-color: #e2dcc8b1; 
}

/* controls navbar padding/spreading out */
.container-fluid{
    padding: 3% 7%;
}
.moveUp{
    position: relative; top: -400px;
}
.engraved{
    background-color: #5e3613;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: #e2dcc8b1 4px 6px 3px;
}

.nav-brand:hover{
    text-decoration: none;
}
h1{
    font-family: 'br_firmaregular';
    font-weight: bold;
    color: #ffffff;
    font-size: 50px; /* 3rem = 3 times the root em size */
    line-height:1.5;

    padding: 0  0 10px 0;
}

h5{
    color: #4d2808;
    font-family: 'br_firmaregular';
    font-size: 36px;
    font-weight: bold;
    padding: 0  0 10px 0;
}
h2{
    color: #4d2808;
    font-family: 'br_firmaregular';
    font-size: 28px;
    font-weight: bold;
    padding: 0  0 10px 0;
}

h3{
    color: #4d2808;
    font-family: 'br_firmaregular';
    font-weight: bold;
    padding: 0  0 10px 0;
    font-size: 24px;
}

h4{
    color: #4d2808;
    font-family: 'br_firmaregular';
    padding: 0  0 10px 0;
    font-size: 22px;
}

p{
    font-family: 'br_firmaregular';
    font-size: 18px;
    color: #5e3613;
}

/* Navigation Bar */
#navigation{
    text-align: center;
    background-color: #e2dcc8b1; 
    padding: 3% 15% 0% 15%;
}
.navbar .navbar-nav .nav-link {
    color: #4d2808;
    font-size: 1.5rem;
    font-family: 'br_firmaregular';
}

.nav-item{
    padding: 0 10px 0 30px;
    text-align: center;
}
.nav-link:hover{
    background-color:#e2dcc8b1;
    color: #4d2808;
    border-radius: 5px;
}


.navbar-toggler{
    background-color:#4d2808;

}

.navbar-toggler:hover{
    box-shadow:;

}



.icon-custom{
    color:#ffffff;
}
.icon-custom:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}
  
@-webkit-keyframes wiggle {
0% {-webkit-transform: rotate(10deg);}
25% {-webkit-transform: rotate(-10deg);}
50% {-webkit-transform: rotate(20deg);}
75% {-webkit-transform: rotate(-5deg);}
100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
0% {-ms-transform: rotate(1deg);}
25% {-ms-transform: rotate(-1deg);}
50% {-ms-transform: rotate(1.5deg);}
75% {-ms-transform: rotate(-5deg);}
100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
0% {transform: rotate(10deg);}
25% {transform: rotate(-10deg);}
50% {transform: rotate(20deg);}
75% {transform: rotate(-5deg);}
100% {transform: rotate(0deg);}
}
  





/* Download Buttons */
.download-button{
    margin: 5% 3% 5%;
}

.color-add{
    background-color: #ffffff;
}

/* Floating contact/social Icons */
.icons{
    top: 25%;
    right: 0px;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}

.icons ul{
    padding:initial;
}

.icons ul li{
    height: 50px;
    width: 50px;
    list-style-type: none;
    padding-top: 12px;
    margin-top: 5px;
    border-radius: 2.5px;
    color:#e2dcc8;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-color: #4d2808;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 

}

.icons ul li:hover{
    color:#e2dcc8;
   
    box-shadow: 0 5px 10px #5e3613;
}

/* Projects Section */
 #projects{
    /* padding: 100px; to take up more of screen*/
    padding: 7% 15%;
    text-align: justify;
    background-color: #e2dcc8b1; 
 }
 .projects-column{
    padding: 3% 2%;
 }

.ada-img{
    border-radius: 50%;
    width: 50%;
    height: 100%;
}


.btn{
    border-radius:5px;
    background-color: #4d2808;
    color: #e2dcc8;
    padding: .5em 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.btn:hover {
  background-color: #4d2808;
  color: #e2dcc8;
  box-shadow: 0 5px 10px #5e3613;
}



#Ada{
    background-color: #e2dcc8;
    padding: 7% 15%;
    text-align: center;
    cursor: default;
}

/* Story Cards Section*/
#story-title{
    padding: 3% 15% 3% 15%;
    text-align: center;
    background-color:#e2dcc8b1;
}
#story-cards{
    padding: 3% 15% 7% 15%;
    text-align: left;
    background-color:#e2dcc8b1;

}
.card{
    padding: 1.5em .5em .5em;
    border-radius: 5px;
    background-color: #ffffff; /*f5f3ef*/
    /*box-shadow: 0 5px 10px #5e3613;*/

    
}
.card-text-story{
    text-align: left;
    
}
.card-text-story-center{ 
    text-align: center;
    
}

.card-text-home{
    color:#5e3613; 
    
}   

.card-title{
    color:#4d2808;
    
}

.img-fluid{
    border-radius: 200px;
    width: 225px;
    height: 225px;
    
}

/* Resources Section*/
#resources{
    padding: 3% 15% 3% 15%;
    background-color: #e2dcc8b1;
    text-align: left;
}

/* Footer Section*/
#footer{
    padding: 0% 15% 1% 15%;
    text-align: left;
    background-color: #e2dcc8;
}
.vase-logo{
    width: 20px;
    padding: 0 0 5px 0;
}
.social-icons{
    margin: 20px 5px;
}
.link-secondary{
    color:#4d2808;
    font-size: 18px;
}
.link-secondary2{
    font-family: 'br_firmaregular';
    color:#4d2808;
    font-size: 18px;
}
.extra-space{
    padding: 0 10px 0 10px;
}
.footer-page-links{
    font-family: 'br_firmaregular';
    color:#4d2808;
    padding:8px 8px 8px 8px;
    font-size: 18px;
}
.p-footer{
    padding:8px 8px 8px 0px;
    color: #4d2808;
}
.footer-page-links:hover{
    background-color:#e2dcc8b1;
    color: #4d2808;
    border-radius: 5px;
    text-decoration: none;
}
.link-secondary:hover{
    color: #b89677;
    text-decoration: none;
}
.link-secondary2:hover{
    color:#4d2808;
    text-decoration: none;
}



 /*Media Query Section -convention is to have all the media queries at the bottom of the page */

 @media (max-width: 1028px){  /* Media Queries allow for webpage to have different looks based on certain conditions */

    body{
        text-align: center;
    }
    #projects{
        text-align: center;
    }
    
}


@media (max-width: 600px){  
    .card{
        text-align: center;
    }
    .larger-font{
        text-align: center;
    }
    #title{
        padding: 0% 5% 15% 5%;
    }
    #navigation{
        padding: 3% 5% 0% 5%;
    }

}




