@font-face {
    font-family: 'br_firmaregular';
    src: url('br_firma_regular-webfont.woff2') format('woff2'),
         url('br_firma_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
    background-color: #e2dcc8b1;
    width: 100%;  
    margin: 0;
   
   
    
} 

body{
    width: 100%;
    margin: 0;
    
   
}
  

/* Fonts */

h1{
    font-family: 'br_firmaregular';
    font-weight: bold;
    color: #ffffff;
    font-size: 50px; /* 3rem = 3 times the root em size */
    line-height:1.5;

    padding: 0  0 10px 0;
}

h5{
    color: #4d2808;
    font-family: 'br_firmaregular';
    font-size: 36px;
    font-weight: bold;
    padding: 0  0 10px 0;
}
h2{
    color: #4d2808;
    font-family: 'br_firmaregular';
    font-size: 28px;
    font-weight: bold;
    padding: 0  0 10px 0;
}

h3{
    color: #4d2808;
    font-family: 'br_firmaregular';
    font-weight: bold;
    padding: 0  0 10px 0;
    font-size: 24px;
}

h4{
    color: #4d2808;
    font-family: 'br_firmaregular';
    padding: 0  0 10px 0;
    font-size: 22px;
}

p{
    font-family: 'br_firmaregular';
    font-size: 18px;
    color: #5e3613;;
}

/*  general site styles*/

.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}

.larger-font{
    font-size: 45px;
    color:#4d2808;
    text-align: center;
    padding:0px 0px;
}
.large-font{
    font-size: 40px;
    color:#4d2808;
    text-align: center;
    padding: 20px 0px 30px 0px;
}
.large-font-left{
    font-size: 40px;
    color:#4d2808;
    text-align: left;
}

.moveUp{
    position: relative; top: -400px;
}
.engraved{
    background-color: #4d2808;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: #e2dcc8b1 2px 6px 5px;
}
.engraved:hover{
    background-color: #4d2808;
    text-shadow: #4d2808 0px 0px 0px;
}



/* Hero Section */ 
#hero-section{
    text-align: center;
    padding: 3% 12% 10% 12%;
    background-color: #e2dcc8b1;
    width: 100%;  

}

.side-padding{
    padding: 0 20px 0 20px;
}




/* controls navbar padding/spreading out */
.container-fluid{
    padding: 3% 7%;
}


.nav-brand:hover{
    text-decoration: none;
}

.col-lg-6{
    padding-right: 25px;
    padding-left: 25px;
}

.hero{
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  


/* Navigation Bar */
#navigation{
    text-align: center;
    background-color: #e2dcc8b1; 
    padding: 2% 10% 1% 10%;
    width:100%;
}

.navbar{
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px 30px;
}

.nav-link{
    color: #4d2808;
    font-size: 1.5rem;
    font-family: 'br_firmaregular';
}
.nav-link:hover{
    background-color:#e2dcc8b1;
    color: #ffffff;
    border-radius: 5px;
}
.navbar-toggler{
   padding:0;
}
.navbar-toggler-icon{
    color: #4d2808;
   padding: 5px 0 0 0;
}

.navbar-toggler-icon:hover{
    color: white;
   padding: 5px 0 0 0;
}

.nav-link2 {
    color: #ffffff;
    font-size: 16px;
    padding: 8px 16px;
    font-family: 'br_firmaregular';
}

.nav-link2:hover{
    background-color:#e2dcc8b1;
    color: #4d2808;
    text-decoration: none;
    border-radius: 5px;
}

.nav-pills .nav-link2.active {
    background-color: rgb(255, 255, 255);
    color: rgb(94, 54, 19);
    border-radius: 5px;
}





.icon-custom{
    color:#ffffff;
}
.icon-custom:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}


/* Download Buttons */
.download-button{
    margin: 5% 3% 5%;
}

.color-add{
    background-color: #ffffff;
}

/* Floating contact/social Icons */
.icons{
    top: 25%;
    /*right: 0px*/
    right: 5px;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}

.icons ul{
    padding:initial;
}

.icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-top: 8px;
    margin-top:6px;
    border-radius: 2.5px;
    /*color:#e2dcc8;*/
    color: #4d2808;
    /*box-shadow: 0 5px 10px rgba(0,0,0,.2);
    /*background-color: #4d2808; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */

}

.icons ul li:hover{
    
    color: #ffffff;
    /*box-shadow: 0 5px 10px #5e3613;
    color:#e2dcc8;*/
}

/* Projects Section */
 #projects{
    /* padding: 100px; to take up more of screen*/
    padding: 5% 15% 5% 15%;
    text-align: justify;
    background-color: #e2dcc8b1;
    width:100%; 
 }
 .projects-column{
    padding: 3% 2%;
 }

.ada-img{
    border-radius: 50%;
    width: 50%;
    height: 100%;
}


.btn{
    border-radius:5px;
    background-color: #4d2808;
    color: #e2dcc8;
    padding: .5em 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.btn:hover {
  background-color: #4d2808;
  color: #e2dcc8;
  box-shadow: 0 5px 10px #5e3613;
}


#Ada{
    background-color: #e2dcc8;
    padding: 3% 15% 3% 15%;
    text-align: justify;
    width: 100%;  
    
   
}


#title-stories-page{
    text-align: center;
    background-color: #e2dcc8b1; 
    width: 100%;  
}

/* Story Cards Section*/

#story-cards{
    padding: 3% 15% 3% 15%;
    text-align: center;
    background-color:#e2dcc8;
    width: 100%;  

}


.card{
    border-radius: 5px;
    background-color: #ffffff; /*f5f3ef*/
    /*box-shadow: 0 5px 10px #5e3613;*/
    border: 1px solid rgba(0,0,0,.125);
    
}

.card-header{
    background-color: #5e3613 ;
    padding: 1rem 1.25rem;
    border-bottom: 0px solid rgba(0,0,0,.125);
    color: white;
}


.card-title{
    color:#4d2808;
    padding: 10px 20px;
    
}
.MA-Logo-IMG{
    width: 80%
}

.card-img{
    border-radius:50%;
    padding: 0px 15px;
}

.scroll {
    max-height: 425px;
    overflow-y: auto;
    border-radius: 5px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
  }


.card-text{
    text-align: left;
    padding: 0px 20px;
}

.active {
    background-color: white;
  }

  .nav-pills .nav-link.active{
    background-color: #ffffff;
    color:#5e3613;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    
}
  
a {
    color: white;
    text-decoration: none;
    background-color: transparent;

}

/* Resources Section*/
#resources{
    padding: 3% 15% 3% 15%;
    background-color: #e2dcc8;
    text-align: left;
    width: 100%;  
}

/* Footer Section*/
#footer{
    padding: 0% 10% 3% 10%;
    
    text-align: left;
    background-color: #e2dcc8b1;
    width: 100%;  
}
.vase-logo{
    width: 20px;
    padding: 0 0 5px 0;
}
.social-icons{
    margin: 20px 5px;
}
.link-secondary{
    color:#4d2808;
    font-size: 18px;
}
.link-secondary2{
    font-family: 'br_firmaregular';
    color:#4d2808;
    font-size: 20px;
}
.footer-page-links{
    font-family: 'br_firmaregular';
    color:#4d2808;
    padding:8px 20px 8px 0px;
    font-size: 20px;
}
.p-footer{
    padding:8px 8px 8px 0px;
    color: #4d2808;
    text-align: left;
}
.footer-page-links:hover{
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}
.link-secondary:hover{
    color: #ffffff;
    text-decoration: none;
}
.link-secondary2:hover{
    color:#4d2808;
    text-decoration: none;
}
.border-bottom {
    border-bottom: 0px solid #dee2e6!important;
}




/* changes layout if screen is smaller than 600px */
@media (max-width: 600px){  
    .card{
        text-align: center;
    }
    .larger-font{
        text-align: center;
    }

    #navigation{
        padding: 3% 4% 0% 4%;
    }
    h1{
        font-size: 40px;
    }
    #footer{
        padding: 0% 10% 5% 10%;
    }
    .icons{
        top: 35%;
    }


}




@media(max-width: 992px){
    #Ada{
        text-align: center;
    }
    #projects{
        text-align: center;
    }
    .left{
        text-align: center;
    }
    /* Uncomment to give nav-bar toggler menu a dark tan background 
    .nav-link{
        color: #4d2808;
        background-color: #e2dcc8;
        font-size: 1.5rem;
        font-family: 'br_firmaregular';
    }
    .nav-link:hover{
        color: #ffffff;
        background-color: #e2dcc8b1;
        font-size: 1.5rem;
        font-family: 'br_firmaregular';
    }
    */
    #navigation{
        padding: 2% 8% 0% 8%;
    }
    .engraved{
        background-color: #4d2808;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: #e2dcc887 3px 1px 4px;
        font-size: 36px;
    }
    .engraved:hover{
        background-color: #4d2808;
        text-shadow: #4d2808 0px 0px 0px;
        font-size: 36px;
    }
    .navbar-brand{
        position: relative; margin-top: 12px;
    }

}







@media (min-width: 1392px){  
    .hero-left{
        position: relative; margin-top: 20px;
    }
    .larger-font{
        font-size: 45px;
        color:#4d2808;
        text-align: center;
        padding:0px 0px;
    }


}


@media (max-width: 1391px){  
    .hero-left{
        position: relative; margin-top: 0px;
    }
    .larger-font{
        font-size: 45px;
        color:#4d2808;
        text-align: center;
        padding:0px 0px;
    }


}

@media (max-width: 1237px){  
    .hero-left{
        position: relative; margin-top: 20px;
    }
    .larger-font{
        font-size: 40px;
        color:#4d2808;
        text-align: center;
        padding:0px 0px;
    }


}


@media (max-width: 1215px){  
    .hero-left{
        position: relative; margin-top: 10px;
    }
    .larger-font{
        font-size: 36px;
        color:#4d2808;
        text-align: center;
        padding:0px 0px;
    }

}

@media (max-width: 1101px){  
    .hero-left{
        position: relative; margin-top: -5px;
    }
    .larger-font{
        font-size: 36px;
        color:#4d2808;
        text-align: center;
        padding:0px 0px;
    }

}

@media (max-width: 1008px){  
    .hero-left{
        position: relative; margin-top: -25px;
    }
    .larger-font{
        font-size: 36px;
        color:#4d2808;
        text-align: center;
        padding:0px 0px;
    }

}





